nav{
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(10px);
    color: white;
    padding: 18px;
    border-bottom: 3px solid #ff9800;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li{
    margin: 6px 0;
}
nav a{
    color: #ffd54f;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    color:white;
    padding-left: 6px;
}

table{
    width: 100%;
    border-collapse:collapse;
    margin: 14px 12;
}

th,td {
    border: 4px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background: #f5f7fa;
}

form{
    max-width: 520px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

input,select,textarea{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 6px;
}

input[type="submit"] {
    background: linear-gradient(45deg, #ff512f, #dd2476);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.9;
}
